.container {

  &.flex-container { display: flex; }

  &.flexstart { justify-content: flex-start; }
  &.flexend { justify-content: flex-end; }
  &.center { justify-content: center; }
  &.space-around { justify-content: space-around; }
  &.space-between { justify-content: space-between; }

  .child {
    padding: 2% 5%;
    text-align: center;
    font-size: 75px;

    &:nth-child(1) { background-color: royalblue; }
    &:nth-child(2) { background-color: crimson; }
    &:nth-child(3) { background-color: darkorange; }
    &:nth-child(4) { background-color: olivedrab; }
    &:nth-child(5) { background-color: slateblue; }
    &:nth-child(6) { background-color: orangered; }
  }

  &.mismatch .child {
    &:nth-child(1) { height: 80%; }
    &:nth-child(2) { height: 30%; font-size: 40px; }
    &:nth-child(3) { height: 60%; }
    &:nth-child(4) { height: 40%; font-size: 100px;}
  }
}
